:root{
  --var-DarkMagenta:hsl(300, 43%, 22%);
  --varLightGrayishMagenta: hsl(300, 24%, 96%);
  --varWhite:hsl(0, 0%, 100%);
}

body{
  font-family: 'Spartan', sans-serif;
  width: 1440px;
  height: 100vh;
  margin: auto;
  background-image: url(/images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.card__main{
  display: grid;
  position: relative;
  padding: 2rem;
}
.card__header{
  margin: 4rem;
}
.card__header__h1{
  display: inline-block;
  width: 500px;
}
.card__title{
  color:var(--var-DarkMagenta);
  font-weight: 700;
  font-size: 50px;
  line-height: 0.9;
  margin-block-end: 1rem;
}
.card__header_text{
  color:var(--var-DarkMagenta);
  margin-block-start: 0;
  line-height: 25px;
  font-weight: 500;
}
.card__contain{
  display: block;
}
.card__starts{
  display: inline-block;
  position: relative;
  right: -250px;
  top: -20px;
}
.card__starts--1,.card__starts--2,.card__starts--3{
  display: flex;
  align-items: center;
  position: relative;
  gap: 8px;
  padding: 1.5rem 2rem 1.5rem 2rem;
  border-radius: 10px;
  background-color: var(--varLightGrayishMagenta);
  margin: 1rem;
}
.card__starts--1{
  left: -100px;
}
.card__starts--2{
  left: -50px;
}

.card__starts--1,.card__starts--2,.card__starts--3 > span{
  font-weight: 700;
  color: var(--var-DarkMagenta);
}
.card__starts--1 span{
  margin-left: 20px;
  margin-right: 20px;
}
.card__starts--2 span{
  margin-left: 20px;
  margin-right: 20px;
}
.card__starts--3 span{
  margin-left: 20px;
  margin-right: 20px;
}
.card__contain{
 margin: 4rem; 
 padding: 1rem;
}
.card__contain img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.card__contain p{
  margin-block-start: 0;
}
.card__contain__header{
  position: relative;
  top: -30px;
  right: -20px;
  display: inline-flex;
  flex-direction: column;
}
.card__contain__profile__name{
  margin: 5px;
  font-weight: 700;
}
.card__contain__profile__verify{
  color: hsl(303, 10%, 53%);
  font-weight: 700;
}
.card__contain__profile--1,.card__contain__profile--2,.card__contain__profile--3{
  display: inline-block;
  position: relative;
  background-color: var(--var-DarkMagenta);
  color: var(--varWhite);
  width: calc(100%/4);
  padding: 2rem;
  border-radius: 20px;
  margin:1rem;
}
.card__contain__profile--1{
  top: -90px;
}
.card__contain__profile--2{
  top: -60px;
}
.card__contain__profile--3{
  top: -30px;
}